.header {
    background: var(--white);
    padding: 24px 0 0;
    border-bottom: 1px solid #DDE2E5;
    color: var(--black);
}

.header__tittle {
    font-size: 50px;
    line-height: 64px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-top: 38px;
}

.header_inner {
    box-sizing: border-box;
    height: 82px;
    padding: 24px 0;
    border: none;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav_mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__tittle {
        font-weight: 400;
        font-size: 28px;
        line-height: 136%;
    }

    .header__top {
        flex-direction: row-reverse;
    }

    .header__nav {
        flex-grow: 1;
    }

    .header__logo {
        flex-grow: 1;
    }

    .header__nav_desk {
        display: none;
    }

    .header__nav_mobile {
        display: contents;
    }
}