.desk {
    display: flex;
    flex-direction: column;
}

.desk__title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 136%;
    color: var(--grey-3);
    padding-bottom: 30px;
}

.desk__content {
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}