.histogram {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border: solid 1px var(--grey-3);
    padding: 16px 24px 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    color: var(--Black, #212429);
    background-color: var(--White, #FFFFFF);
    font-family: Inter;
}

.histogram__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.histogram__title {
    opacity: 0.8;
}

.histogram__viewer {
    text-decoration: none;
    color: #4263EB;
    text-align: right;
    font-family: Inter;
    margin-top: 3px;
}

.histogram__count {
    font-family: Inter;
    font-size: 20px;
    margin-bottom: 39px;
}

.histogram__columns {
    display: flex;
    align-items: flex-end;
    height: 50px;
    gap: 1px;
}

.histogram__column {
    flex-grow: 1;
    background-color: #4263EB;
}

.histogram__column_min {
    height: 15%;
}

.histogram__column_mid {
    height: 50%;
}

.histogram__column_max {
    height: 100%;
}