.calendar{
    max-width: 304px;
    box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid;
    border-color: var(--grey-3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 28px 26px;
}

.calendar__title {
    color: rgb(51, 77, 110);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 24px;
}

.calendar__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 20px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #90A0B7;
    padding-bottom: 16px;
}

.calendar__text {
    margin: 0;
}

.calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 36px);
}

.calendar__date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #334D6E;
}

.calendar__date_active {
    background-color: #4263EB;
    color: #FFFFFF;
}

.calendar__date_between {
    background: rgba(160, 177, 245, 0.2);
}


