.checkbox {
    position: relative;
    display: inline-block;
}

.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkbox__control {
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    width: 28px;
    height: 28px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control{
    border: 1px solid var(--blue);
    background-color: var(--blue);
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title{
    text-decoration: underline;
}

.checkbox__input {
    position: absolute;
    left: -100vw;
}

.checkbox__title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey-4);
}

.checkbox__control:checked {
    border-radius: 4px;
    width: 28px;
    height: 28px;
    background: var(--blue);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    border: 1px solid var(--grey-2);
    background: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control .checkbox__icon {
    display: none;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
    color: var(--grey-2);
}