.preview {
    background: #F9FAFC;
    padding-top: 67px;
    padding-bottom: 204px;
}

.preview__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    gap: 30px;
}

@media screen and (max-width: 768px) {
    .preview {
        padding-bottom: 67px;
    }

}

.preview__title {
    padding: 36px 36px 0px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 136%;
    text-align: start;
    color: var(--grey-4);
}

.preview__inner {
    padding: 36px 36px 0px;
}

.preview__inner_flex {
    padding: 36px 36px 0px;
    display: flex;
    flex-wrap: wrap;
}

.preview__section {
    display: flex;
    flex-direction: column;
    padding-right: 42px;
}

.preview__code {
    padding: 36px 0px 36px;
}

.preview__content {
    display: flex;
    gap: 56px;
}

.preview__component {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px #2124290D;
    border-radius: 8px;
    width: 100%;
}

.preview__desk {
    padding-top: 67px;
}