.preview {
    background: #F9FAFC;
    padding-top: 67px;
    padding-bottom: 204px;
}

.preview__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    gap: 30px;
}

@media screen and (max-width: 768px) {
    .preview {
        padding-bottom: 67px;
    }

    .preview__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-around;
    }
}

.preview__inner {
    padding-top: 36px;
    padding-bottom: 0px;

}

.preview__content {
    display: flex;
    gap: 56px;
}

.preview__component {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px #2124290D;
    border-radius: 8px;
    width: 100%;
}